In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
df_stock = pd.read_excel('/content/drive/My Drive/ML_doc/files/stock_market.xlsx', index_col=1)
df_stock.drop('Unnamed: 0', axis=1, inplace=True)
df_stock.head()

            APPLE  TESLA   AMAZON    VISA    SP500
Date
2020-01-02  74.33  86.05  1898.01  189.66  3257.85
2020-01-03  73.61  88.60  1874.97  188.15  3234.85
2020-01-06  74.20  90.31  1902.88  187.74  3246.28
2020-01-07  73.85  93.81  1906.86  187.24  3237.18
2020-01-08  75.04  98.43  1891.97  190.45  3253.05

In [ ]:
import random
import numpy as np
r = 0.3
a,b = df_stock.shape
missing = int(a*b*r)
for i in range( missing ):
    k = random.randint(2,b-1)
    p = random.randint(0,a-1)
    df_stock.iloc[p,k] = np.nan
df_stock

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-07   73.85   93.81      NaN     NaN  3237.18
2020-01-08   75.04   98.43  1891.97     NaN      NaN
...            ...     ...      ...     ...      ...
2020-12-23  130.76  645.98      NaN     NaN      NaN
2020-12-24  131.77  661.77      NaN     NaN      NaN
2020-12-28  136.49  663.69  3283.96  212.30      NaN
2020-12-29  134.67  665.99      NaN  214.04  3727.04
2020-12-30  133.52  694.78  3285.85  218.02      NaN

[252 rows x 5 columns]

In [ ]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 2020-01-02 to 2020-12-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   APPLE   252 non-null    float64
 1   TESLA   252 non-null    float64
 2   AMAZON  150 non-null    float64
 3   VISA    154 non-null    float64
 4   SP500   154 non-null    float64
dtypes: float64(5)
memory usage: 11.8+ KB

In [ ]:
df_stock.isnull()

            APPLE  TESLA  AMAZON   VISA  SP500
Date
2020-01-02  False  False   False  False  False
2020-01-03  False  False   False  False  False
2020-01-06  False  False   False  False  False
2020-01-07  False  False    True   True  False
2020-01-08  False  False   False   True   True
...           ...    ...     ...    ...    ...
2020-12-23  False  False    True   True   True
2020-12-24  False  False    True   True   True
2020-12-28  False  False   False  False   True
2020-12-29  False  False    True  False  False
2020-12-30  False  False   False  False   True

[252 rows x 5 columns]

In [ ]:
df_stock.notnull()

            APPLE  TESLA  AMAZON   VISA  SP500
Date
2020-01-02   True   True    True   True   True
2020-01-03   True   True    True   True   True
2020-01-06   True   True    True   True   True
2020-01-07   True   True   False  False   True
2020-01-08   True   True    True  False  False
...           ...    ...     ...    ...    ...
2020-12-23   True   True   False  False  False
2020-12-24   True   True   False  False  False
2020-12-28   True   True    True   True  False
2020-12-29   True   True   False   True   True
2020-12-30   True   True    True   True  False

[252 rows x 5 columns]

In [ ]:
df_stock.isnull().sum()

APPLE       0
TESLA       0
AMAZON    102
VISA       98
SP500      98
dtype: int64

In [ ]:
df_stock.isnull().sum().sum()

298

# Imputation Methods

## Filling with a constant number

In [ ]:
df_stock.fillna(999)

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-07   73.85   93.81   999.00  999.00  3237.18
2020-01-08   75.04   98.43  1891.97  999.00   999.00
...            ...     ...      ...     ...      ...
2020-12-23  130.76  645.98   999.00  999.00   999.00
2020-12-24  131.77  661.77   999.00  999.00   999.00
2020-12-28  136.49  663.69  3283.96  212.30   999.00
2020-12-29  134.67  665.99   999.00  214.04  3727.04
2020-12-30  133.52  694.78  3285.85  218.02   999.00

[252 rows x 5 columns]

## Filling with a string

In [ ]:
df_stock.fillna('EMPTY')

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-07   73.85   93.81    EMPTY   EMPTY  3237.18
2020-01-08   75.04   98.43  1891.97   EMPTY    EMPTY
...            ...     ...      ...     ...      ...
2020-12-23  130.76  645.98    EMPTY   EMPTY    EMPTY
2020-12-24  131.77  661.77    EMPTY   EMPTY    EMPTY
2020-12-28  136.49  663.69  3283.96   212.3    EMPTY
2020-12-29  134.67  665.99    EMPTY  214.04  3727.04
2020-12-30  133.52  694.78  3285.85  218.02    EMPTY

[252 rows x 5 columns]

## Filling with forward fill

In [ ]:
df_stock.fillna( method ='ffill')

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-07   73.85   93.81  1902.88  187.74  3237.18
2020-01-08   75.04   98.43  1891.97  187.74  3237.18
...            ...     ...      ...     ...      ...
2020-12-23  130.76  645.98  3206.52  205.52  3694.92
2020-12-24  131.77  661.77  3206.52  205.52  3694.92
2020-12-28  136.49  663.69  3283.96  212.30  3694.92
2020-12-29  134.67  665.99  3283.96  214.04  3727.04
2020-12-30  133.52  694.78  3285.85  218.02  3727.04

[252 rows x 5 columns]

## Filling with backward fill

In [ ]:
df_stock.fillna( method ='bfill')

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-07   73.85   93.81  1891.97  194.55  3237.18
2020-01-08   75.04   98.43  1891.97  194.55  3316.81
...            ...     ...      ...     ...      ...
2020-12-23  130.76  645.98  3283.96  212.30  3727.04
2020-12-24  131.77  661.77  3283.96  212.30  3727.04
2020-12-28  136.49  663.69  3283.96  212.30  3727.04
2020-12-29  134.67  665.99  3285.85  214.04  3727.04
2020-12-30  133.52  694.78  3285.85  218.02      NaN

[252 rows x 5 columns]

## Filling with mean

In [ ]:
df_stock.fillna(df_stock.mean())

             APPLE   TESLA     AMAZON        VISA        SP500
Date
2020-01-02   74.33   86.05  1898.0100  189.660000  3257.850000
2020-01-03   73.61   88.60  1874.9700  188.150000  3234.850000
2020-01-06   74.20   90.31  1902.8800  187.740000  3246.280000
2020-01-07   73.85   93.81  2692.9938  192.208961  3237.180000
2020-01-08   75.04   98.43  1891.9700  192.208961  3204.634675
...            ...     ...        ...         ...          ...
2020-12-23  130.76  645.98  2692.9938  192.208961  3204.634675
2020-12-24  131.77  661.77  2692.9938  192.208961  3204.634675
2020-12-28  136.49  663.69  3283.9600  212.300000  3204.634675
2020-12-29  134.67  665.99  2692.9938  214.040000  3727.040000
2020-12-30  133.52  694.78  3285.8500  218.020000  3204.634675

[252 rows x 5 columns]

## Filling with median

In [ ]:
df_stock.fillna(df_stock.median())

             APPLE   TESLA    AMAZON    VISA     SP500
Date
2020-01-02   74.33   86.05  1898.010  189.66  3257.850
2020-01-03   73.61   88.60  1874.970  188.15  3234.850
2020-01-06   74.20   90.31  1902.880  187.74  3246.280
2020-01-07   73.85   93.81  2993.205  195.95  3237.180
2020-01-08   75.04   98.43  1891.970  195.95  3252.065
...            ...     ...       ...     ...       ...
2020-12-23  130.76  645.98  2993.205  195.95  3252.065
2020-12-24  131.77  661.77  2993.205  195.95  3252.065
2020-12-28  136.49  663.69  3283.960  212.30  3252.065
2020-12-29  134.67  665.99  2993.205  214.04  3727.040
2020-12-30  133.52  694.78  3285.850  218.02  3252.065

[252 rows x 5 columns]

## Dropping Missing Values
- drop the rows with at least one missing nan value

In [ ]:
df_stock.dropna()

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-17   78.88  102.10  1864.72  203.13  3329.62
2020-01-23   79.01  114.44  1884.58  204.94  3325.54
2020-01-29   80.27  116.20  1858.00  203.29  3273.40
2020-02-06   80.49  149.79  2050.23  201.49  3345.78
2020-02-27   67.85  135.80  1884.30  178.89  2978.76
2020-02-28   67.81  133.60  1883.75  180.63  2954.22
2020-03-02   74.13  148.72  1953.95  191.13  3090.23
2020-03-17   62.73   86.04  1807.84  156.91  2529.19
2020-03-31   63.08  104.80  1949.72  160.12  2584.59
2020-04-08   66.01  109.77  2043.00  173.85  2749.98
2020-04-17   70.16  150.78  2375.00  168.49  2874.56
2020-04-21   66.58  137.34  2328.12  159.53  2736.56
2020-04-23   68.23  141.13  2399.45  165.34  2797.80
2020-04-24   70.20  145.03  2410.22  166.28  2836.74
2020-04-28   69.11  153.82  2314.08  170.18  2863.39
2020-04-29   71.38  160.10  2372.71  180.66  2939.51
2020-04-30   72.89  156.38  2474.00  177.61  2912.43
2020-05-12   77.46  161.88  2356.95  178.35  2870.12
2020-05-14   77.00  160.67  2388.85  180.08  2852.50
2020-05-21   78.82  165.52  2446.74  189.75  2948.51
2020-05-22   79.32  163.38  2436.88  189.99  2955.45
2020-05-27   79.13  164.05  2410.39  191.94  3036.13
2020-05-29   79.09  167.00  2442.37  194.35  3044.31
2020-06-01   80.06  179.62  2471.04  193.46  3055.73
2020-06-10   87.77  205.01  2647.45  199.57  3190.14
2020-06-22   89.27  198.86  2713.82  194.07  3117.86
2020-06-26   87.96  191.95  2692.87  188.41  3009.05
2020-07-01   90.57  223.93  2878.70  192.90  3115.86
2020-07-06   92.99  274.32  3057.04  196.86  3179.72
2020-07-13   95.00  299.41  3104.00  188.16  3155.22
2020-07-15   97.24  309.20  3008.87  195.65  3226.56
2020-07-22   96.79  318.47  3099.91  197.95  3276.02
2020-07-27   94.34  307.92  3055.21  196.01  3239.41
2020-07-30   95.71  297.50  3051.88  193.18  3246.22
2020-08-17  114.24  367.13  3182.41  198.82  3381.99
2020-08-31  128.63  498.32  3450.96  211.34  3500.31
2020-09-01  133.75  475.05  3499.12  212.70  3526.65
2020-09-14  114.99  419.62  3102.97  204.35  3383.54
2020-09-28  114.59  421.20  3174.05  199.71  3351.60
2020-09-30  115.44  429.01  3148.73  199.36  3363.00
2020-10-06  112.80  413.98  3099.96  199.84  3360.97
2020-10-13  120.71  446.65  3443.63  203.70  3511.93
2020-10-21  116.49  422.64  3184.94  197.82  3435.56
2020-10-22  115.38  425.79  3176.40  197.39  3453.49
2020-11-04  114.58  420.98  3241.16  193.38  3443.44
2020-11-16  120.12  408.09  3131.06  212.37  3626.91
2020-11-25  115.86  574.00  3185.07  210.56  3629.65
2020-12-01  122.54  584.76  3220.08  210.87  3662.45
2020-12-02  122.90  568.82  3203.53  209.85  3669.01
2020-12-03  122.76  593.38  3186.73  207.73  3666.72
2020-12-10  123.06  627.07  3101.49  207.29  3668.10
2020-12-11  122.23  609.99  3116.42  205.92  3663.46
2020-12-16  127.62  622.77  3240.96  207.95  3701.17

In [ ]:
# drop columns
df_stock.dropna(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  """Entry point for launching an IPython kernel.

             APPLE   TESLA
Date
2020-01-02   74.33   86.05
2020-01-03   73.61   88.60
2020-01-06   74.20   90.31
2020-01-07   73.85   93.81
2020-01-08   75.04   98.43
...            ...     ...
2020-12-23  130.76  645.98
2020-12-24  131.77  661.77
2020-12-28  136.49  663.69
2020-12-29  134.67  665.99
2020-12-30  133.52  694.78

[252 rows x 2 columns]

In [ ]:
df_stock.dropna(subset=['APPLE'])

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-07   73.85   93.81      NaN     NaN  3237.18
2020-01-08   75.04   98.43  1891.97     NaN      NaN
...            ...     ...      ...     ...      ...
2020-12-23  130.76  645.98      NaN     NaN      NaN
2020-12-24  131.77  661.77      NaN     NaN      NaN
2020-12-28  136.49  663.69  3283.96  212.30      NaN
2020-12-29  134.67  665.99      NaN  214.04  3727.04
2020-12-30  133.52  694.78  3285.85  218.02      NaN

[252 rows x 5 columns]

In [ ]:
df_stock.dropna(subset=['APPLE', 'AMAZON'], how='any')

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-08   75.04   98.43  1891.97     NaN      NaN
2020-01-09   76.63   96.27  1901.05     NaN      NaN
...            ...     ...      ...     ...      ...
2020-12-14  121.60  639.83  3156.97  206.93      NaN
2020-12-16  127.62  622.77  3240.96  207.95  3701.17
2020-12-22  131.68  640.34  3206.52  205.52      NaN
2020-12-28  136.49  663.69  3283.96  212.30      NaN
2020-12-30  133.52  694.78  3285.85  218.02      NaN

[150 rows x 5 columns]

In [ ]:
df_stock.dropna(subset=['APPLE', 'AMAZON'], how='all')

             APPLE   TESLA   AMAZON    VISA    SP500
Date
2020-01-02   74.33   86.05  1898.01  189.66  3257.85
2020-01-03   73.61   88.60  1874.97  188.15  3234.85
2020-01-06   74.20   90.31  1902.88  187.74  3246.28
2020-01-07   73.85   93.81      NaN     NaN  3237.18
2020-01-08   75.04   98.43  1891.97     NaN      NaN
...            ...     ...      ...     ...      ...
2020-12-23  130.76  645.98      NaN     NaN      NaN
2020-12-24  131.77  661.77      NaN     NaN      NaN
2020-12-28  136.49  663.69  3283.96  212.30      NaN
2020-12-29  134.67  665.99      NaN  214.04  3727.04
2020-12-30  133.52  694.78  3285.85  218.02      NaN

[252 rows x 5 columns]

# Imputer Methods

## Simple Imputer

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')   # mean, median, most_frequent, constant

In [ ]:
imputer.fit(df_stock)
imputer.transform(df_stock)

array([[  74.33      ,   86.05      , 1898.01      ,  189.66      ,
        3257.85      ],
       [  73.61      ,   88.6       , 1874.97      ,  188.15      ,
        3234.85      ],
       [  74.2       ,   90.31      , 1902.88      ,  187.74      ,
        3246.28      ],
       ...,
       [ 136.49      ,  663.69      , 3283.96      ,  212.3       ,
        3204.63467532],
       [ 134.67      ,  665.99      , 2692.9938    ,  214.04      ,
        3727.04      ],
       [ 133.52      ,  694.78      , 3285.85      ,  218.02      ,
        3204.63467532]])

In [ ]:
pd.DataFrame(imputer.transform(df_stock), columns=df_stock.columns, index=df_stock.index)

             APPLE   TESLA     AMAZON        VISA        SP500
Date
2020-01-02   74.33   86.05  1898.0100  189.660000  3257.850000
2020-01-03   73.61   88.60  1874.9700  188.150000  3234.850000
2020-01-06   74.20   90.31  1902.8800  187.740000  3246.280000
2020-01-07   73.85   93.81  2692.9938  192.208961  3237.180000
2020-01-08   75.04   98.43  1891.9700  192.208961  3204.634675
...            ...     ...        ...         ...          ...
2020-12-23  130.76  645.98  2692.9938  192.208961  3204.634675
2020-12-24  131.77  661.77  2692.9938  192.208961  3204.634675
2020-12-28  136.49  663.69  3283.9600  212.300000  3204.634675
2020-12-29  134.67  665.99  2692.9938  214.040000  3727.040000
2020-12-30  133.52  694.78  3285.8500  218.020000  3204.634675

[252 rows x 5 columns]

## knn Imputer

imputed using the mean value from n_neighbors nearest neighbors found in the training set
- https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html

In [ ]:
from sklearn.impute import KNNImputer
imputer_knn = KNNImputer(n_neighbors=2)
imputer_knn.fit_transform(df_stock)

array([[  74.33 ,   86.05 , 1898.01 ,  189.66 , 3257.85 ],
       [  73.61 ,   88.6  , 1874.97 ,  188.15 , 3234.85 ],
       [  74.2  ,   90.31 , 1902.88 ,  187.74 , 3246.28 ],
       ...,
       [ 136.49 ,  663.69 , 3283.96 ,  212.3  , 3710.98 ],
       [ 134.67 ,  665.99 , 3230.625,  214.04 , 3727.04 ],
       [ 133.52 ,  694.78 , 3285.85 ,  218.02 , 3718.225]])

In [ ]:
pd.DataFrame(imputer_knn.fit_transform(df_stock), columns=df_stock.columns, index=df_stock.index)

             APPLE   TESLA    AMAZON     VISA     SP500
Date
2020-01-02   74.33   86.05  1898.010  189.660  3257.850
2020-01-03   73.61   88.60  1874.970  188.150  3234.850
2020-01-06   74.20   90.31  1902.880  187.740  3246.280
2020-01-07   73.85   93.81  1892.105  187.945  3237.180
2020-01-08   75.04   98.43  1891.970  196.410  2950.430
...            ...     ...       ...      ...       ...
2020-12-23  130.76  645.98  3191.905  207.105  3693.440
2020-12-24  131.77  661.77  3230.625  213.170  3710.980
2020-12-28  136.49  663.69  3283.960  212.300  3710.980
2020-12-29  134.67  665.99  3230.625  214.040  3727.040
2020-12-30  133.52  694.78  3285.850  218.020  3718.225

[252 rows x 5 columns]